.display_none{height:0%;font-size:0%;line-height:0%;visibility:hidden;position:absolute;top:0;left:0}
.clearfix:after{height:0; content:"."; display:block; clear:both; visibility:hidden; line-height:0}
.clearfix{display:inline-block}
html[xmlns] .clearfix{display:block}
* html .clearfix{height:1%}
.clear{clear:both}

body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background:#fff none;
}

/*css for home page*/
#banner{background:url(/images/bg_banner.jpg) repeat 50% 0; height:530px; text-align:center;}
#banner .desc{font-size:35px; font-weight:700; line-height:65px; display:inline-block; margin-top:170px; color:#fff;}
#banner .desc span{background:url(/images/bg_black.png) repeat; padding:0 14px 10px;}
#banner .btn{margin-top:45px;}
#banner .btn-blue, #banner .btn-orange{width:140px; font-size:28px; height:45px; line-height:45px; font-weight:normal;}
.home .lst-comment{padding-top:30px;}
.home .lst-comment .tit-area{font-size:30px; line-height:44px; text-align:center; margin-bottom:20px;}
.home .lst-comment .line{background:url(/images/bg_line.gif) repeat-x 0 50%; height:46px; margin-bottom:30px; text-align:center;}
.home .lst-comment .line .pin{background:#fff url(/images/icon_pin.gif) no-repeat 50% 0; display:inline-block; width:47px; height:46px; padding:0 10px;}
.home .comments{overflow:hidden;}
.home .comments li{float:left; margin-right:37px; width:342px;}
.home .comments li:last-child{margin-right:0;}
.home .comments .box{background:#f6f6f6 none; padding:5px 15px 10px; position:relative; font-style:italic}
.home .comments .box p{padding:10px 0 15px;}
.home .comments .box .arrow{background:url(/images/arrow_down.gif) no-repeat 0 0; position:absolute; width:20px; height:10px; bottom:-10px; left:35px;}
.home .comments .user{margin-top:20px; font-size:13px;}
.home .comments .user span{vertical-align:middle; display:inline-block;}
.home .comments .user .img{margin-right:30px;}

/*css for sub page*/
#container.sub-page {
	background:url(/images/bg_sub.png) repeat-x;
	/*background-color: white;*/
	min-height: 600px;
}
.sub-page .wrap-ct{padding-top:61px;}


#content
{
	border: solid 1px #CCCCCC;
	background: white;
	border-radius: 6px;
	margin-top: 20px;
	height: auto;
	overflow: hidden;
}
#yumcontent
{
	border: solid 1px #CCCCCC;
	background: white;
	border-radius: 6px;
	margin-top: 20px;
	width: 738px;
	overflow: hidden;
}
#mymenu{
	background-color: white;
	display: none;
	z-index: 2;
	margin-top: 37px;
	width: 100px;
	padding: 10px;
	border-radius: 3px;
	/* opacity: 0.9; */
	border: solid 1px #CCCCCC;
	position: absolute;
	margin-left: 97px;
}

.notisArrow{
	content: '';
	position: absolute;
	top: -8px;
	width: 1px;
	/* height: 34px; */
	border-bottom: 8px solid #434343;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
	z-index: 2;

}
.notisContainer{
	display: none;
	 z-index: 2;
    /* opacity: 0.9; */
    position: absolute;
    margin-left: -117px;
    margin-top: 37px !important;
    width: 300px;
    max-height: 250px;
    box-shadow: 0px 5px 10px 0px;

}

.boxNotis{
	border-radius: 4px;
	overflow: hidden;
}
#notisBoxHeader{
	font-weight: bold;
	font-size: 14px;
	padding: 10px;
	background-color: #434343;
	overflow: hidden;
	color: white;
}
#notisContent{
	overflow-y: auto !important;
    overflow-x: hidden;
    width: 280px;
    max-height: 193px;
    padding: 10px;
    background-color: white;
}
#notisContent li{
	padding-bottom: 8px;
	border-bottom: 1px solid #CCCCCC;
	padding-top: 8px;
	color: #555;
}

#commentsList li{
	padding-top: 8px !important;
}
#comments{
	margin-top: 30px;
}
div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

.textbox{
	width: 250px;
	height: 28px;
}
.timepicker{
	height: 28px;
    text-indent: 25px;
    width: 230px; 
    background: url("../images/calendar.png") no-repeat scroll 6px 50% #FFFFFF;
}
.trip-search-results a:hover{
	background-color: #E1F5FF;
}
.table_row{
	display: table;
	margin-top: 5px;
	clear: both;
	border-bottom: 1px solid #CCC;
	padding: 10px;
}
.row{
	display: table;
}
.cell{
	display: table-cell;
	
}
#trip_list .cell1{
	width: 220px;
	border-right: solid 1px #E5E5E5;
	vertical-align: top;
	padding: 10px;
}
#trip_list .cell2{
	width: 500px;
	border-right: solid 1px #E5E5E5;
	vertical-align: top;
	padding: 10px;
}
#trip_list .cell3{
	vertical-align: top;
	padding: 10px;
}
#trip_detail{
	overflow: hidden;
	width:100%;
}
#trip_detail label{
	min-width: 130px;
	line-height: 30px;
	font-size: 16px;
	
}
.commentButton{
	vertical-align: top;
	margin-left: 10px;
}
.commentButton .blueButton{
	vertical-align: top;
}
#trip_detail .comments{
	font-weight: bold;
}
#trip_detail .row{
	
}
#trip_detail .des{
	margin-top: 10px;
	line-height: 20px;
	margin-bottom: 10px;
}
#trip_detail .trippers{
	font-weight: bold;
	color: red;
}
#trip_detail .username{
	padding-top: 5px;
	color: #555;
}
#trip_detail .cell1{
	width: 140px;
	border-right: solid 1px #E5E5E5;
	vertical-align: top;
	padding: 10px;
}
#trip_detail .cell2{
	width: 700px;
	vertical-align: top;
	padding: 10px;
}
#trip_detail .cell3{
	vertical-align: top;
	float: right;
	width:95%;
}
#trip_detail .cell3 .orangeButton{
	width:100%;
}
#trip_detail .cell3 .grayButton{
	width:100%;
}
#trip_list .row{
	border-bottom: solid 1px #E5E5E5;
	border-collapse:separate;
	border-spacing:10px;
	width: 100%;

}
#commentsList li{
	clear: both;
	padding-top: 2px;
}
#profile{
	min-height: 250px;
}
#profile_update label{
	min-width: 150px;
}
#change_password label{
	min-width: 170px;
}
#search .cell{
	padding-right: 20px;
}
#search .from{
	width: 240px;
}
#search .to{
	width: 240px;
}
#search .timepicker {
	width: 160px;
}
#offer #Trip_gathering_point{
	width: 320px;
}
#offer #Trip_description{
	width: 430px;
}
#login_page .rememberMe input{
	line-height: 10px !important;
}

#login_page label{
	min-width: 73px;
}
#login_page .orangeButton{
	min-width: 236px;
}
#offer label{
	min-width: 110px;
}

.row_detail{
	display: table;
	margin-top: 5px;
	clear: both;
	padding: 10px;
}
.container{
	padding-bottom: 80px;
}


.from{
    background: url("../images/search-from-plot.png") no-repeat scroll 6px 50% #FFFFFF;
    height: 28px;
    text-indent: 25px;
    width: 320px;
}
.to{
    background: url("../images/search-to-plot.png") no-repeat scroll 6px 50% #FFFFFF;
    height: 28px;
    text-indent: 25px;
    width: 320px;
}
#map-canvas{
	width:490px;
	height:682px;
	float: right;
}
#directions-panel {
    height: 100%;
    float: right;
    width: 450px;
    overflow: auto;
}
#offer{
	width:400px; 
	float:left;
	margin-right: 10px !important;

}
#offer label{
	
}

.price {
    margin-bottom: 1px;
	font-size: 26px;
	font-family: Arial,Helvetica,sans-serif;
	font-weight: bold;
	color: #FCA019;
}
.verticalLine {
    border-right: solid 1px #CCCCCC;
	padding-right: 10px;
}

.availability {
	line-height: 30px;
}
.availability strong{
	color: red;
	font-weight: bold;
}


.approved{
    color: green;
}
.waiting{
    color: #FCA019;
}
.denied{
    color: red;
}
.uiCloseButton {
    background-image: url(/images/close.png);
    background-repeat: no-repeat;
    float: right;
    height: 15px;
    width: 15px;
}
.memberListVer{
	list-style-type: none;
	line-height: 44px;
}
#trip_detail .memberListHor li{
	display: inline;
}
.box{
	border: solid 1px #CCCCCC;
	
	border-radius: 4px;
	overflow: hidden;
}

.boxTitle{
	border-bottom: solid 1px #CCCCCC;
	font-weight: bold;
	font-size: 14px;
	padding: 10px;
	background-color: #F2F2F2;
	overflow: hidden;
}
.boxContent{
	padding: 20px;
}
#myavatar{
	text-decoration: none;
	font-weight: bold;
}
input, textarea{
	border-radius: 4px;
	min-height: 25px;
	border: solid 1px #DDDDDD;
	padding:2px;
}
.orangeButton {
	border-radius: 5px;
	background-color: #FCA019;
	color: white;
	padding: 5px;
	font-weight: bold;
	margin-right: 10px !important;
}
.grayButton{
	border-radius: 5px;
	background-color: #F8F4F5;
	color: black;
	padding: 5px;
	font-weight: bold;
	margin-right: 10px !important;
}
.blueButton{
	border-radius: 5px;
	background-color:#41b2e4;
	color: white;
	padding: 5px;
	font-weight: bold;
	margin-right: 10px !important;
}
.aquaLink{
	color: #38A4D1;
	text-decoration: none;
}
.inlineButton{
	margin-left: 20px;
}
#contact label{
	min-width: 135px;
}
.avatar {
	float: left;
	margin-right: 5px;
	-moz-border-radius: 2px;
	border-radius: 50%;
}
.date{
	color: #1698d2;
	font-size: 16px;
	font-weight: bold;

}
.fromTo{
	color: #1698d2;
	font-size: 18px;
	font-weight: bold;
	line-height: 40px;

}
#trip_detail .fromTo{
	font-size: 26px;
}
.pickUpPoint{
	color: #FCA019;
	font-weight: bold;
}

.username {
	padding-top: 30px;
	font-weight: bold;
	font-size: 12px;
}


.numNotisSS{
	color: white;
	font-weight: bold;
	width: 20px !important;
	/* height: 20px !important; */
	cursor: pointer;
	padding-bottom: 3px;
	background-color: red;
	z-index: 2;
	/* margin-bottom: 10px; */
	border-radius: 50%;
	position: absolute;
	text-align: center;
	vertical-align: middle;
	padding-top: 3px;
	font-size: 9px;
    box-shadow: 3px 3px 4px #888888;
}
.numNotis{
	position: absolute;
	color: #ffffff;
	font-size: 10px;
	font-weight: 700;
	height: 16px;
	line-height: 16px;
	padding: 0 5px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	-webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
	background-color: #f6620c;
	background-image: -moz-linear-gradient(top, #ff8a14, #e92500);
	background-image: -ms-linear-gradient(top, #ff8a14, #e92500);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff8a14), to(#e92500));
	background-image: -webkit-linear-gradient(top, #ff8a14, #e92500);
	background-image: -o-linear-gradient(top, #ff8a14, #e92500);
	background-image: linear-gradient(top, #ff8a14, #e92500);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8a14', endColorstr='#e92500', GradientType=0);
	z-index: 2;
}

#profileComment .row{
	width: 100%;
}
.commentTime{
	color: #959BA6;
	font-size: 11px;
}
a.tooltips {
  position: relative;
  display: inline;
}
a.tooltips span {
  position: absolute;
  width:100px;
  color: #FFFFFF;
  background: #000000;
  height: 36px;
  line-height: 36px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
}
a.tooltips span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
a:hover.tooltips span {
  visibility: visible;
  opacity: 0.8;
  bottom: 10px;
  left: 50%;
  margin-left: -32px;
  z-index: 999;
}
#registrationPage{

}
#registrationPage label{
	min-width: 150px;
}
.list-view .summary {
	margin: 4px 0 5px 0 !important;
	float: left;
}
.list-view .sorter {
	font-size: 0.9em;
	font-weight: bold;
	float: right;
	clear: both;
}
.title{
	font-weight: bold;
	font-size: 16px;
}