.numNotis{
    color: red;
    font-weight: bold;
    width: 20px;
    height: 20px;
    cursor: pointer;
    padding-bottom: 6px;
}

#gnb .right-area .ctrl .friend{background:url(images/icon_friend.png) no-repeat 0 0; width:27px;}
#gnb .right-area .ctrl .friend:hover{background:url(images/icon_friend_on.png) no-repeat 0 0;}
#gnb .right-area .ctrl .msg{background:url(images/icon_msg.png) no-repeat 0 0; width:24px;}
#gnb .right-area .ctrl .msg:hover{background:url(images/icon_msg_on.png) no-repeat 0 0;}
#gnb .right-area .ctrl .tripp{background:url(images/icon_tripp.png) no-repeat 0 0; width:21px;}
#gnb .right-area .ctrl .tripp:hover{background:url(images/icon_tripp_on.png) no-repeat 0 0;}