.numNotis{
    color: red;
    font-size: bold;
}
#num_trip{
	background: url(images/trip_icon.png);
	background-size: 14px 14px;
    background-repeat: no-repeat;	
}
#num_email{
	background: url(images/email_icon.png);	
	background-size: 14px 14px;
    background-repeat: no-repeat;
}
#num_friend{
	width: 14px;
	height: 14px;
	background: url(images/friend_icon.png);	
	background-size: 14px 14px;
    background-repeat: no-repeat;
}